# Environnement virtuel
.audit/

# Cache
__pycache__/
.pytest_cache/

# VS Code
.vscode/

# Logs
logs/

# Outputs générés
outputs/
data/processed/
build/
dist/
*.log

# Modèles lourds
*.npy
*.pt
*.h5
*.pkl

# Fichiers Excel générés
*.xlsx
*.txt

# Fichiers images générés
*.png

# Notebooks checkpoints
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db